/* header */

header {
	background-color: #198CFF;
	box-shadow: 0 1px 1px 1px #097CEF;

	margin-bottom: 5px;
	padding: 5px 0;
	width: 100%;
	height: 34px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 900;
}

header .kon-wrapper {
	text-align: center;

	margin: 0 auto;
	padding: 0 5px;
	width: 100%;
}

header h1 {
	margin: 0 auto;
	padding-top: 3px;
	width: auto;
}

header h1 a {
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 1px 1px 2px #001F5F;
}

header h1 a:hover, header h1 a:active {
	text-decoration: none;
	text-shadow: 1px 1px 3px #000;
}

header button {
	box-shadow: 0 0 1px 1px #005FDF;
	font-weight: bold;
}

.kon-logged-in .kon-login, .kon-logged-out .kon-logout {
	display: none;
}

header .kon-login, header .kon-logout {
	float: right;
}

header .kon-play, header .kon-pause {
	float: left;
	padding: 4px 8px 2px 8px;
}

header .kon-play hr {
	display: none;
}

header .kon-play hr:first-child {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 10px solid #FFF;
	display: inline-block;

	width: 0;
	height: 0;
}

header .kon-pause hr {
	background: #FFF;
	display: inline-block;

	width: 4px;
	height: 14px;
}

header .kon-pause hr:first-child {
	margin-right: 2px;
}
